In [129]:
# importing necessary liraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [130]:
#loading the credits dataset
credits_df = pd.read_csv("Dataset_Movie/credits.csv")
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [131]:
#loading the movies dataset
movies_df = pd.read_csv("Dataset_Movie/movies_metadata.csv")
movies_df.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_5788\3829855178.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("Dataset_Movie/movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [132]:
#checking the datatypes and null values
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [133]:
#deleting the rows that are not int
movies_df=movies_df[movies_df["id"].str.isdecimal()]

In [134]:
#converting the data type of id from 
movies_df=movies_df.astype({"id":"int64"})

In [135]:
movie_df_merge = movies_df.merge(credits_df,on='id')
movie_df_merge.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [136]:
#dropping the unnecessary columns
movie_df_merge.drop(columns=['adult','belongs_to_collection','budget','homepage','imdb_id','runtime','status','video','revenue','production_companies','production_countries','release_date','revenue'],inplace=True)

In [137]:
movie_df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45538 entries, 0 to 45537
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genres             45538 non-null  object
 1   id                 45538 non-null  int64
 2   original_language  45527 non-null  object
 3   original_title     45538 non-null  object
 4   overview           44584 non-null  object
 5   popularity         45535 non-null  object
 6   poster_path        45152 non-null  object
 7   spoken_languages   45535 non-null  object
 8   tagline            20439 non-null  object
 9   title              45535 non-null  object
 10  vote_average       45535 non-null  float64
 11  vote_count         45535 non-null  float64
 12  cast               45538 non-null  object
 13  crew               45538 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 4.9+ MB

In [138]:
#dropping rows with null values
movie_df_merge.dropna(inplace=True)

In [139]:
movie_df_merge.reset_index(inplace=True)

## Content Based Recommendation System

Now lets make a recommendations based on the movie's plot summaries given in the averview column. So if our user gives us a movie title, our goal is to recommend movies that share similar plot summaries

In [142]:
#now we calculate TF-IDF value for each movie
# import required module
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3,max_features=None, strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',ngram_range=(1,3),stop_words='english')

#filling Nans with empty string
movie_df_merge['overview']=movie_df_merge['overview'].fillna('')

In [143]:
#fitting the TF-IDF on the 'overview' text
tfv_matrix =tfv.fit_transform(movie_df_merge['overview'])

In [144]:
tfv_matrix.shape

(20416, 38291)

In [145]:
from sklearn.metrics.pairwise import sigmoid_kernel
#compute the sigmoid kernel
sig = sigmoid_kernel (tfv_matrix,tfv_matrix)

In [146]:
sig[0]

array([0.76160512, 0.76159462, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [147]:
#reverse mapping of ind
indices = pd.Series(movie_df_merge.index,index=movie_df_merge['original_title']).drop_duplicates()

In [148]:
indices

original_title
Jumanji                            0
Grumpier Old Men                   1
Waiting to Exhale                  2
Father of the Bride Part II        3
Heat                               4
                               ...
The Morning After              20411
House of Horrors               20412
The Burkittsville 7            20413
رگ خواب                        20414
Betrayal                       20415
Length: 20416, dtype: int64

In [181]:
def get_recommendation(title,sig=sig):
    #getting the index of moive
    if "Spy Kid" not in indices:
        return "Movie Name not found"
    indx = indices[title]

    #get the pairwise similarity score for indx
    sig_scores=list(enumerate(sig[indx]))

    #sort the movies based on similarity score
    sig_scores =sorted(sig_scores,key=lambda x: x[1], reverse=True)

    #get the index of top 10 movies that are similar to title of given moive
    moive_indices = [i[0] for i in sig_scores[1:11]]

    return movie_df_merge['original_title'].iloc[moive_indices]

In [150]:
#testing our content based recommendation system with the film Spy Kids
get_recommendation("Spy Kids")

4014     Spy Kids 2: The Island of Lost Dreams
4703                   Spy Kids 3-D: Game Over
10564             Komt een vrouw bij de dokter
18701                    Rise of the Gargoyles
9726                      Captain from Castile
18667                   Oy Vey! My Son Is Gay!
6597                          Down to the Bone
5943                           The Incredibles
2689                     For the Love of Benji
4037                                  976-EVIL
Name: original_title, dtype: object